In [1]:
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
import configparser

config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config.get('AWS','AWS_ACCESS_KEY_ID')
os.environ['AWS_SECRET_ACCESS_KEY']=config.get('AWS','AWS_SECRET_ACCESS_KEY')

In [3]:
spark = SparkSession \
    .builder \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .getOrCreate()

In [4]:

df = spark.read.json("s3a://udacity-dend/song_data/A/B/C/*.json")

In [5]:
dflog = spark.read.json("s3a://udacity-dend/log_data/2018/11/*.json")

In [12]:
df.show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARLTWXK1187FB5A3F8|       32.74863|      Fort Worth, TX|       -97.32925|         King Curtis|326.00771|        1|SODREIN12A58A7F2E5|A Whiter Shade Of...|   0|
|ARIOZCU1187FB3A3DC|           null|          Hamlet, NC|            null|       JOHN COLTRANE|220.44689|        1|SOCEMJV12A6D4F7667|Giant Steps (Alte...|   0|
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|AR5S9OB1187B9931E3|       34.05349|     Los Angeles, CA|      -118.24532|         Bullet Boys|156.62975|        1|SOMAPYF12A6D4FEC3E|All Day & All Of ...|   0|
|AR5T40Y1187B9996C6|           null|       Lulea, Sweden|            null|    The Bear Quartet| 249.3122|        1|SOAPVNX12AB0187625|I Remember Nights...|1998|
|AR9OEB71187B9A97C6|           null|Edmonton, Alberta...|            null|              Faunts|397.16526|        1|SOFIUVJ12A8C13C296|Will You Tell Me ...|2005|
|ARBDJHO1252CCFA6FC|           null|                    |            null|The Band of HM Ro...|188.73424|        1|SOBHXUU12A6D4F5F14|National Emblem (...|   0|
|ARAADXM1187FB3ECDB|        34.1688|  Woodland Hills, CA|      -118.61092|    Styles Of Beyond| 67.63057|        1|SOQFYBD12AB0182188|               Intro|1999|
|ARZJDBC1187FB52056|       27.94017|    Brandon, Florida|       -82.32547|        Nasty Savage|327.00036|        1|SOYLILV12A8C136650|                 XXX|1984|
|AROSPS51187B9B481F|           null|                    |            null| Vince Guaraldi Trio|197.95546|        1|SOHTCZS12A6D4FC402|  The Christmas Song|1965|
|AR0IAWL1187B9A96D0|         8.4177|              Panama|       -80.11278|        Danilo Perez|197.19791|        1|SONSKXP12A8C13A2C9|         Native Soul|2003|
|ARCWVUK1187FB3C71A|           null|                    |            null|     Brigitte Bardot| 130.2722|        1|SOGHHXH12A8C13EBCB|C'Est Une Bossa Nova|1993|
|ARZGTK71187B9AC7F5|           null|     California, USA|            null|                Eels|158.01424|        1|SOTDCIR12AB0184574|     I Need A Mother|2010|
|ARWB3G61187FB49404|           null|      Hamilton, Ohio|            null|         Steve Morse|363.85914|        1|SODAUVL12A8C13D184|           Prognosis|2000|
|ARCKOJF1241B9C75B4|           null|                    |            null|        Eddie Sierra|221.83138|        1|SOISMBN12AB0184784|Un hombre sentime...|   0|
|ARCJWLU1187B9ADD36|           null|                    |            null|  Theory In Practice|274.54649|        1|SOEVPWF12A58A7D254|         Astral eyes|1997|
|ARJIE2Y1187B994AB7|           null|                    |            null|         Line Renaud|152.92036|        1|SOUPIRU12A6D4FA1E1| Der Kleine Dompfaff|   0|
|AREH0O41187FB4C405|           null|             Oakland|            null|             Skinlab|311.90159|        1|SOTMKDG12A67ADAB35|        Race Of Hate|1997|
|ARMCJVK11F4C84373E|           null|                    |            null|      Fort Knox Five|  283.402|        1|SOYKDVO12A58A785C9|      Killa Soundboy|2008|
|ARVBRGZ1187FB4675A|           null|                    |            null|        Gwen Stefani|290.55955|        1|SORRZGD12A6310DBC3|      Harajuku Girls|2004|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 20 rows

In [13]:
df.count()

23

In [6]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [14]:
dflog.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [15]:
dflog.count()

8056

In [6]:
df.createOrReplaceTempView("song_view")

In [7]:
song = spark.sql("SELECT song_id, title, artist_id, year, duration FROM song_view")

In [103]:
artist = spark.sql("SELECT artist FROM log_view")

In [104]:
artist.show()

+--------------------+
|              artist|
+--------------------+
|            Harmonia|
|         The Prodigy|
|               Train|
|         Sony Wonder|
|           Van Halen|
|           Magic Sam|
|Edward Sharpe & T...|
|Usher featuring w...|
|         Helen Reddy|
|        Taylor Swift|
|           Sean Paul|
|         Soundgarden|
|         The Killers|
|       Amy Winehouse|
|      Steve Anderson|
|          Rob Zombie|
|  Deadmau5 & Kaskade|
|        Shania Twain|
|      Los Campesinos|
|            Ill Nino|
+--------------------+
only showing top 20 rows

In [106]:
artist1 = spark.sql("SELECT artist_name FROM song_view")

In [108]:
artist1.show()

+--------------------+
|         artist_name|
+--------------------+
|         King Curtis|
|       JOHN COLTRANE|
|         Lupe Fiasco|
|         Bullet Boys|
|    The Bear Quartet|
|              Faunts|
|The Band of HM Ro...|
|    Styles Of Beyond|
|        Nasty Savage|
| Vince Guaraldi Trio|
|        Danilo Perez|
|     Brigitte Bardot|
|                Eels|
|         Steve Morse|
|        Eddie Sierra|
|  Theory In Practice|
|         Line Renaud|
|             Skinlab|
|      Fort Knox Five|
|        Gwen Stefani|
+--------------------+
only showing top 20 rows

In [8]:
song.show()

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SODREIN12A58A7F2E5|A Whiter Shade Of...|ARLTWXK1187FB5A3F8|   0|326.00771|
|SOCEMJV12A6D4F7667|Giant Steps (Alte...|ARIOZCU1187FB3A3DC|   0|220.44689|
|SOWQTQZ12A58A7B63E|Streets On Fire (...|ARPFHN61187FB575F6|   0|279.97995|
|SOMAPYF12A6D4FEC3E|All Day & All Of ...|AR5S9OB1187B9931E3|   0|156.62975|
|SOAPVNX12AB0187625|I Remember Nights...|AR5T40Y1187B9996C6|1998| 249.3122|
|SOFIUVJ12A8C13C296|Will You Tell Me ...|AR9OEB71187B9A97C6|2005|397.16526|
|SOBHXUU12A6D4F5F14|National Emblem (...|ARBDJHO1252CCFA6FC|   0|188.73424|
|SOQFYBD12AB0182188|               Intro|ARAADXM1187FB3ECDB|1999| 67.63057|
|SOYLILV12A8C136650|                 XXX|ARZJDBC1187FB52056|1984|327.00036|
|SOHTCZS12A6D4FC402|  The Christmas Song|AROSPS51187B9B481F|1965|197.95546|
|SONSKXP12A8C13A2C9|         Native Soul|AR0IAWL1187B9A96D0|2003|197.19791|
|SOGHHXH12A8C13EBCB|C'Est Une Bossa Nova|ARCWVUK1187FB3C71A|1993| 130.2722|
|SOTDCIR12AB0184574|     I Need A Mother|ARZGTK71187B9AC7F5|2010|158.01424|
|SODAUVL12A8C13D184|           Prognosis|ARWB3G61187FB49404|2000|363.85914|
|SOISMBN12AB0184784|Un hombre sentime...|ARCKOJF1241B9C75B4|   0|221.83138|
|SOEVPWF12A58A7D254|         Astral eyes|ARCJWLU1187B9ADD36|1997|274.54649|
|SOUPIRU12A6D4FA1E1| Der Kleine Dompfaff|ARJIE2Y1187B994AB7|   0|152.92036|
|SOTMKDG12A67ADAB35|        Race Of Hate|AREH0O41187FB4C405|1997|311.90159|
|SOYKDVO12A58A785C9|      Killa Soundboy|ARMCJVK11F4C84373E|2008|  283.402|
|SORRZGD12A6310DBC3|      Harajuku Girls|ARVBRGZ1187FB4675A|2004|290.55955|
+------------------+--------------------+------------------+----+---------+
only showing top 20 rows

In [23]:
song.write.mode("overwrite").partitionBy("year","artist_id")

In [24]:
artist_table = spark.sql("SELECT artist_id, artist_location, artist_latitude, artist_longitude FROM song_view")

In [25]:
artist_table.show()

+------------------+--------------------+---------------+----------------+
|         artist_id|     artist_location|artist_latitude|artist_longitude|
+------------------+--------------------+---------------+----------------+
|ARLTWXK1187FB5A3F8|      Fort Worth, TX|       32.74863|       -97.32925|
|ARIOZCU1187FB3A3DC|          Hamlet, NC|           null|            null|
|ARPFHN61187FB575F6|         Chicago, IL|       41.88415|       -87.63241|
|AR5S9OB1187B9931E3|     Los Angeles, CA|       34.05349|      -118.24532|
|AR5T40Y1187B9996C6|       Lulea, Sweden|           null|            null|
|AR9OEB71187B9A97C6|Edmonton, Alberta...|           null|            null|
|ARBDJHO1252CCFA6FC|                    |           null|            null|
|ARAADXM1187FB3ECDB|  Woodland Hills, CA|        34.1688|      -118.61092|
|ARZJDBC1187FB52056|    Brandon, Florida|       27.94017|       -82.32547|
|AROSPS51187B9B481F|                    |           null|            null|
|AR0IAWL1187B9A96D0|              Panama|         8.4177|       -80.11278|
|ARCWVUK1187FB3C71A|                    |           null|            null|
|ARZGTK71187B9AC7F5|     California, USA|           null|            null|
|ARWB3G61187FB49404|      Hamilton, Ohio|           null|            null|
|ARCKOJF1241B9C75B4|                    |           null|            null|
|ARCJWLU1187B9ADD36|                    |           null|            null|
|ARJIE2Y1187B994AB7|                    |           null|            null|
|AREH0O41187FB4C405|             Oakland|           null|            null|
|ARMCJVK11F4C84373E|                    |           null|            null|
|ARVBRGZ1187FB4675A|                    |           null|            null|
+------------------+--------------------+---------------+----------------+
only showing top 20 rows

In [26]:
dflog.show()

+--------------------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|      auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|            Harmonia| Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|         The Prodigy| Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|               Train| Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
|                null| Logged In|    Wyatt|     M|            0|   Scott|     null| free|Eureka-Arcata-For...|   GET|    Home|1.540872073796E12|      563|                null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|
|                null| Logged In|   Austin|     M|            0| Rosales|     null| free|New York-Newark-J...|   GET|    Home|1.541059521796E12|      521|                null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|
|         Sony Wonder| Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|
|                null| Logged In|   Samuel|     M|            1|Gonzalez|     null| free|Houston-The Woodl...|   GET|   About|1.540492941796E12|      597|                null|   200|1542253460796|"Mozilla/5.0 (Mac...|    61|
|                null|Logged Out|     null|  null|            0|    null|     null| paid|                null|   PUT|   Login|             null|      602|                null|   307|1542260074796|                null|      |
|                null| Logged In|    Tegan|     F|            1|  Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      602|                null|   200|1542260277796|"Mozilla/5.0 (Mac...|    80|
|           Van Halen| Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|
|           Magic Sam| Logged In|    Tegan|     F|            3|  Levine|132.04853| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Call Me If You Ne...|   200|1542261224796|"Mozilla/5.0 (Mac...|    80|
|Edward Sharpe & T...| Logged In|    Tegan|     F|            4|  Levine|306.31138| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|                Home|   200|1542261356796|"Mozilla/5.0 (Mac...|    80|
|Usher featuring w...| Logged In|    Tegan|     F|            5|  Levine|395.72853| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|                 OMG|   200|1542261662796|"Mozilla/5.0 (Mac...|    80|
|                null| Logged In|    Tegan|     F|            6|  Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      602|                null|   200|1542261713796|"Mozilla/5.0 (Mac...|    80|
|         Helen Reddy| Logged In|    Tegan|     F|            7|  Levine|176.50893| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602| Candle On The Water|   200|1542262057796|"Mozilla/5.0 (Mac...|    80|
|        Taylor Swift| Logged In|    Tegan|     F|            8|  Levine|201.06404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|            Our Song|   200|1542262233796|"Mozilla/5.0 (Mac...|    80|
|           Sean Paul| Logged In|    Tegan|     F|            9|  Levine|245.34159| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Baby Boy [feat. B...|   200|1542262434796|"Mozilla/5.0 (Mac...|    80|
|         Soundgarden| Logged In|     Lily|     F|            0|    Koch|272.19546| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|      Black Hole Sun|   200|1542262456796|"Mozilla/5.0 (X11...|    15|
|         The Killers| Logged In|    Tegan|     F|           10|  Levine|360.75057| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|               Human|   200|1542262679796|"Mozilla/5.0 (Mac...|    80|
|       Amy Winehouse| Logged In|     Lily|     F|            1|    Koch|165.11955| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|            Addicted|   200|1542262728796|"Mozilla/5.0 (X11...|    15|
+--------------------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [29]:
dffilter = dflog.filter(dflog.page == 'NextSong')

TypeError: 'Column' object is not callable

In [30]:
dffilter.show()

+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|            Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|         The Prodigy|Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|               Train|Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
|         Sony Wonder|Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|
|           Van Halen|Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|
|           Magic Sam|Logged In|    Tegan|     F|            3|  Levine|132.04853| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Call Me If You Ne...|   200|1542261224796|"Mozilla/5.0 (Mac...|    80|
|Edward Sharpe & T...|Logged In|    Tegan|     F|            4|  Levine|306.31138| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|                Home|   200|1542261356796|"Mozilla/5.0 (Mac...|    80|
|Usher featuring w...|Logged In|    Tegan|     F|            5|  Levine|395.72853| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|                 OMG|   200|1542261662796|"Mozilla/5.0 (Mac...|    80|
|         Helen Reddy|Logged In|    Tegan|     F|            7|  Levine|176.50893| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602| Candle On The Water|   200|1542262057796|"Mozilla/5.0 (Mac...|    80|
|        Taylor Swift|Logged In|    Tegan|     F|            8|  Levine|201.06404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|            Our Song|   200|1542262233796|"Mozilla/5.0 (Mac...|    80|
|           Sean Paul|Logged In|    Tegan|     F|            9|  Levine|245.34159| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Baby Boy [feat. B...|   200|1542262434796|"Mozilla/5.0 (Mac...|    80|
|         Soundgarden|Logged In|     Lily|     F|            0|    Koch|272.19546| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|      Black Hole Sun|   200|1542262456796|"Mozilla/5.0 (X11...|    15|
|         The Killers|Logged In|    Tegan|     F|           10|  Levine|360.75057| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|               Human|   200|1542262679796|"Mozilla/5.0 (Mac...|    80|
|       Amy Winehouse|Logged In|     Lily|     F|            1|    Koch|165.11955| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|            Addicted|   200|1542262728796|"Mozilla/5.0 (X11...|    15|
|      Steve Anderson|Logged In|     Lily|     F|            2|    Koch|265.06404| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|                 Air|   200|1542262893796|"Mozilla/5.0 (X11...|    15|
|          Rob Zombie|Logged In|     Lily|     F|            3|    Koch|220.13342| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|          Superbeast|   200|1542263158796|"Mozilla/5.0 (X11...|    15|
|  Deadmau5 & Kaskade|Logged In|     Lily|     F|            4|    Koch|595.56526| paid|Chicago-Napervill...|   PUT|NextSong|1.541048010796E12|      582|          I Remember|   200|1542263378796|"Mozilla/5.0 (X11...|    15|
|        Shania Twain|Logged In|     Ryan|     M|            0|   Smith| 213.7073| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      607|Don't Be Stupid (...|   200|1542265716796|"Mozilla/5.0 (X11...|    26|
|      Los Campesinos|Logged In|     Ryan|     M|            1|   Smith|138.10893| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      607|We throw parties_...|   200|1542265929796|"Mozilla/5.0 (X11...|    26|
|            Ill Nino|Logged In|    Chloe|     F|            1|  Cuevas| 188.9171| paid|San Francisco-Oak...|   PUT|NextSong|1.540940782796E12|      606|How Can I Live (S...|   200|1542266927796|Mozilla/5.0 (Wind...|    49|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 20 rows

In [31]:
dffilter.createOrReplaceTempView("log_view")

In [33]:
dffilter.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [35]:
user = spark.sql('SELECT userId, firstName, lastName, gender, level FROM log_view')

In [36]:
user.show()

+------+---------+--------+------+-----+
|userId|firstName|lastName|gender|level|
+------+---------+--------+------+-----+
|    26|     Ryan|   Smith|     M| free|
|    26|     Ryan|   Smith|     M| free|
|    26|     Ryan|   Smith|     M| free|
|    61|   Samuel|Gonzalez|     M| free|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    80|    Tegan|  Levine|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    15|     Lily|    Koch|     F| paid|
|    26|     Ryan|   Smith|     M| free|
|    26|     Ryan|   Smith|     M| free|
|    49|    Chloe|  Cuevas|     F| paid|
+------+---------+--------+------+-----+
only showing top 20 rows

In [38]:
time = spark.sql("SELECT ts FROM log_view")

In [39]:
time.show()

+-------------+
|           ts|
+-------------+
|1542241826796|
|1542242481796|
|1542242741796|
|1542253449796|
|1542260935796|
|1542261224796|
|1542261356796|
|1542261662796|
|1542262057796|
|1542262233796|
|1542262434796|
|1542262456796|
|1542262679796|
|1542262728796|
|1542262893796|
|1542263158796|
|1542263378796|
|1542265716796|
|1542265929796|
|1542266927796|
+-------------+
only showing top 20 rows

In [74]:
@udf
def timeConv(ms):
    
    import datetime
    
    sec = int(ms)/1000
    
    result = datetime.datetime.fromtimestamp(sec).strftime('%Y-%m-%d %H:%M:%S.%f')

    return result

In [75]:
a = time.withColumn('datetime', timeConv("ts"))

In [76]:
a.show()

+-------------+--------------------+
|           ts|            datetime|
+-------------+--------------------+
|1542241826796|2018-11-15 00:30:...|
|1542242481796|2018-11-15 00:41:...|
|1542242741796|2018-11-15 00:45:...|
|1542253449796|2018-11-15 03:44:...|
|1542260935796|2018-11-15 05:48:...|
|1542261224796|2018-11-15 05:53:...|
|1542261356796|2018-11-15 05:55:...|
|1542261662796|2018-11-15 06:01:...|
|1542262057796|2018-11-15 06:07:...|
|1542262233796|2018-11-15 06:10:...|
|1542262434796|2018-11-15 06:13:...|
|1542262456796|2018-11-15 06:14:...|
|1542262679796|2018-11-15 06:17:...|
|1542262728796|2018-11-15 06:18:...|
|1542262893796|2018-11-15 06:21:...|
|1542263158796|2018-11-15 06:25:...|
|1542263378796|2018-11-15 06:29:...|
|1542265716796|2018-11-15 07:08:...|
|1542265929796|2018-11-15 07:12:...|
|1542266927796|2018-11-15 07:28:...|
+-------------+--------------------+
only showing top 20 rows

In [80]:
a.createOrReplaceTempView("time")

In [90]:
time_table = spark.sql("SELECT distinct(ts), datetime FROM time")

In [91]:
time_table.show()

+-------------+--------------------+
|           ts|            datetime|
+-------------+--------------------+
|1542295580796|2018-11-15 15:26:...|
|1542296032796|2018-11-15 15:33:...|
|1542299847796|2018-11-15 16:37:...|
|1542314793796|2018-11-15 20:46:...|
|1542779804796|2018-11-21 05:56:...|
|1542793114796|2018-11-21 09:38:...|
|1542842644796|2018-11-21 23:24:...|
|1542186737796|2018-11-14 09:12:...|
|1542195958796|2018-11-14 11:45:...|
|1543397770796|2018-11-28 09:36:...|
|1543437391796|2018-11-28 20:36:...|
|1541385481796|2018-11-05 02:38:...|
|1541424913796|2018-11-05 13:35:...|
|1541429962796|2018-11-05 14:59:...|
|1541435666796|2018-11-05 16:34:...|
|1542134866796|2018-11-13 18:47:...|
|1543603205796|2018-11-30 18:40:...|
|1542393418796|2018-11-16 18:36:...|
|1542675563796|2018-11-20 00:59:...|
|1542725885796|2018-11-20 14:58:...|
+-------------+--------------------+
only showing top 20 rows

In [77]:
dflog.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [79]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [114]:
songplays = spark.sql("""SELECT datetime, userId, level, song_id, artist_id, sessionId, location, userAgent
                      FROM time
                      JOIN log_view
                      ON time.ts == log_view.ts
                      JOIN song_view
                      ON song_view.artist_name == log_view.artist
                      
                      """)

In [115]:
songplays.show()

+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+
|            datetime|userId|level|           song_id|         artist_id|sessionId|            location|           userAgent|
+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+
|2018-11-15 13:20:...|    30| paid|SOTDCIR12AB0184574|ARZGTK71187B9AC7F5|      324|San Jose-Sunnyval...|Mozilla/5.0 (Wind...|
|2018-11-14 06:49:...|    16| paid|SODWBIK12AB017F87D|ARSMG8X1187B99CA99|      479|Birmingham-Hoover...|"Mozilla/5.0 (Mac...|
|2018-11-14 11:33:...|    15| paid|SOTDCIR12AB0184574|ARZGTK71187B9AC7F5|      557|Chicago-Napervill...|"Mozilla/5.0 (X11...|
|2018-11-14 13:11:...|    34| free|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|      495|Milwaukee-Waukesh...|Mozilla/5.0 (Maci...|
|2018-11-14 20:16:...|   101| free|SORRZGD12A6310DBC3|ARVBRGZ1187FB4675A|      603|New Orleans-Metai...|"Mozilla/5.0 (Win...|
|2018-11-28 23:22:...|    24| paid|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|      984|Lake Havasu City-...|"Mozilla/5.0 (Win...|
|2018-11-05 01:34:...|    44| paid|SOCEMJV12A6D4F7667|ARIOZCU1187FB3A3DC|      237|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|
|2018-11-05 11:46:...|    44| paid|SOHTCZS12A6D4FC402|AROSPS51187B9B481F|      269|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|
|2018-11-05 16:02:...|    73| paid|SOTDCIR12AB0184574|ARZGTK71187B9AC7F5|      255|Tampa-St. Petersb...|"Mozilla/5.0 (Mac...|
|2018-11-13 17:29:...|    32| free|SODWBIK12AB017F87D|ARSMG8X1187B99CA99|      546|New York-Newark-J...|"Mozilla/5.0 (Win...|
|2018-11-29 20:34:...|    49| paid|SOTMKDG12A67ADAB35|AREH0O41187FB4C405|     1041|San Francisco-Oak...|Mozilla/5.0 (Wind...|
|2018-11-23 17:42:...|    58| paid|SOTDCIR12AB0184574|ARZGTK71187B9AC7F5|      852|Augusta-Richmond ...|"Mozilla/5.0 (Win...|
|2018-11-26 07:49:...|    44| paid|SODWBIK12AB017F87D|ARSMG8X1187B99CA99|      781|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|
|2018-11-06 16:04:...|     2| free|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|      126|        Plymouth, IN|"Mozilla/5.0 (Win...|
|2018-11-06 18:34:...|    97| paid|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|      293|Lansing-East Lans...|"Mozilla/5.0 (X11...|
|2018-11-22 20:27:...|     6| free|SOUPIRU12A6D4FA1E1|ARJIE2Y1187B994AB7|      763|Atlanta-Sandy Spr...|Mozilla/5.0 (Wind...|
|2018-11-10 07:47:...|    44| paid|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|      350|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|
+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+